@import "/src/styles/styles.css";

.colaborador {
    width: 242px;
    height: 280px;
    background-color: var(--common-white);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 10px 10px;
}

.colaborador .cabecalho {
    border-radius: 10px 10px 0px 0px;
    height: 92px;
}

.colaborador img {
    border-radius: 50%;
    width: 120px;
    top: 40px;
    position: relative;
}

.colaborador .rodape {
    padding-top: 100px;
    padding-bottom: 40px;
}

.rodape .subtitle {
    color: var(--text-primary);
    padding-bottom: 8px;
}
